.autor__botones{
    padding-top: 25px;
    .mensaje{
        color: white;
        border-radius: 0;
        margin-right: 10px;
        background-color: #92dce5;
    }
    .seguir{
        color: white;
        border-radius: 0;
        background-color: #ef6461;
    }
}