.videos{
    padding: 30px 0;
    .videos__fila{
        padding-bottom: 25px;
    }
    // .videos__item{
    //     padding: 20px;
    // }
    .videos__encabezado{
        padding-bottom: 30px;
    }
    .videos__imagen{
        width: 100%;
        max-height: 160px;
    }
    .videos__titulo{
        padding-top: 10px;
    }
    .videos__descripcion{
        font-size: 18px;
    }
}